<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
    <!-- FONT import -->
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- CSS Files import -->
    <link rel="stylesheet" href="login_animations.css">
    <link rel="stylesheet" href="login_form_style.css">
    <link rel="stylesheet" href="variables.css">
    <link rel="stylesheet" href="style_v1.css">

</head>
<body>

    <div id="" class="d-flex column  
    page-h border-none overflow-hidden">
        <div id="login-button" class="open-sans-fonts hover-bubbles border-2 tr-1 timing-ease-in p-relative">
            <div>Login</div>
        </div>
        <div id="login-container" class="border-none full-h d-flex column d-center ">
            <div id="login" class="d-flex">
                <form action="" class="border-r-2 p-relative d-flex column">
                    <div id="bg-image" class="full-w full-h ">
                    
                    </div>
                    <div id="label" class="great-vibes-fonts d-flex column d-center">Let us join !</div>
            
                    <div id="" class="p-relative p-3 full-w">
                        <label for="" class="p-absolute">User Name</label>
                        <input type="email" name="" id="" class="border-r-full border-2 open-sans-fonts full-w p-3">
                    </div>
                    <div id="" class="p-relative full-w p-3">
                        <label for="" class="p-absolute ">User Name</label>
                        <input type="password" name="" id="" class="border-r-full  border-2 open-sans-fonts p-3 full-w">
                    </div>
                    <input id="" type="submit" value="Submit" class="m-3 border-r-full p-3  p-relative open-sans-fonts ">
                </form>
            </div>
        </div>
        <!-- SCRIPTS Import -->
        <script src="main_login.js"></script>

    </div>
</body>
</html>
